body {
    background-color: rgb(236, 236, 236);
}
.boxStyle {
    display: inline-block;
    margin: 15px;
    padding: 50px 50px;
    background-color: rgb(145, 145, 145);
}

.darkGray {
    background-color: rgb(83, 83, 83);
}